.production-slider{
    z-index: 1;
    margin-top: -108px;
    max-width: 100vw;
    overflow: hidden;
    padding-bottom: 265px;
    background-color: white;
    position: relative;
    &:after{
        content:"";
        position: absolute;
        width: 100%;
        height: 108px;
        background-color: #F7F7F7;
        left: 0px;
        top: 0px;
    }
    &__container{
       
    }
    &__wrapper{
        width: 100%;
        overflow: visible;
        position: relative;
    }
    &__list{
        // width: 100%;
     
    }
    &__item{
        width: 585px;
    }
    &__img-wrapper{
        position: relative;
        width: 100%;
        height: 585px;
        margin-bottom: 44px;
    }
    &__img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__img-icon{
        top:47px;
        right: 25px;
        position: absolute;
        width: 149px;
        height: 34px;
        object-fit: contain;
    }
    &__img-text{
        font-weight: 500;
        font-size: 31.5px;
        color: #2E3831;
        position: absolute;
        left: 60px;
        bottom: 53px;
    }
    &__img-text_white{
        color:white;
    }
    &__info{
        display: grid;
        row-gap: 20px;
    }
    &__text{
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #8E8E8E;
    }
    &__next{
        cursor: pointer;
        position: absolute;
        font-size: 40px;
        top: 292px;
        left: calc(50% - 50px);
        z-index: 2;
        width: 100vw;
        transform: translateX(50%) translateY(-50%);
        
    }
    &__next-icon{
        height: 25px;
        width: 16px;
    }
}
@media(max-width:1440px){
    .production-slider{
        margin-top: -47px;
        padding-bottom: 150px;
        &:after{
            height: 47px;
        }
        &__item{
            width: 535px;
        }
        &__img-wrapper{
            height: 535px;
        }
        &__img-icon{
            right: 55px;
        }
        &__next{
            top:267px
        }
    }
}
@media(max-width:960px){
    .production-slider{
        margin-top: -120px;
        padding-bottom: 150px;
        &:after{
            height: 120px;
        }
        &__item{
            width: 415px;
        }
        &__img-wrapper{
            height: 415px;
        }
        &__img-icon{
            right: 35px;
        }
        &__next{
            top:207px
        }
    }
}
@media(max-width:600px){
    .production-slider{
        margin-top: 0;
        padding-bottom: 93px;
        &:after{
            display: none;
        }
        &__item{
            width: 335px;
        }
        &__img-wrapper{
            height: 375px;
            margin-bottom: 24px;
        }
        &__img-icon{
            right: 18px;
            top:38px
        }
        &__next{
            top:187px
        }
        &__img-text{
            left: 20px;
            bottom: 33px;
        }
        &__container{
            padding: 0;
        }
    }
}
@media(max-width:400px){
    .production-slider{
        &__item{
            width: 250px;
        }
        &__img-wrapper{
            height: 270px;
        }
        &__next{
            top:135px
        }

    }
}